body {
    margin-top: 0;
}

header {
    margin-top: 0%;

}

nav ul {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0px 17px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.427);

}


.button-nav {
    display: flex;
    align-items: center;
    gap: 7px;


}

ul button {

    border: none;
    background-color: transparent;


}

.menu {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;

}

.media768 {
    display: none;
}


@media (min-width:768px) {
    nav ul {
        display: none;
    }

    .media768 {
        display: flex;
    }
}
}